DB_USER=user_tz
DB_PASSWORD=12345678
DB_NAME=web_tz_test
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
DATABASE_URL=postgresql://user_tz:12345678@localhost:5432/web_tz_test?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
BASE_URL=http://localhost:3000
NODE_ENV=test
LOG_LEVEL=debug